agate==1.7.0
aiosignal==1.3.1
anyio==3.6.2
apache-airflow-providers-common-sql==1.4.0
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.2
apispec==5.2.2
argcomplete==3.0.8
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293028159/work
blinker==1.6.2
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1650311966802/work
brotlipy @ file:///D:/bld/brotlipy_1648854347500/work
cachelib==0.9.0
cattrs==22.2.0
certifi==2022.12.7
cffi @ file:///D:/bld/cffi_1656782940775/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///D:/bld/click_1651215332191/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
colorama==0.4.6
colorlog==4.8.0
ConfigUpdater==3.1.1
connectorx==0.3.1
cron-descriptor==1.2.35
croniter==1.3.14
cryptography==40.0.2
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dbt-core==1.5.3
dbt-extractor==0.4.1
dbt-postgres==1.5.3
Deprecated==1.2.13
dill==0.3.1.1
dnspython==2.3.0
docutils==0.19
email-validator==1.3.1
exceptiongroup==1.1.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
Fiona==1.8.21
Flask==2.2.4
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools @ file:///D:/bld/fonttools_1661381488826/work
frozenlist==1.3.3
future==0.18.3
GDAL==3.5.1
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1679726698720/work
GeoAlchemy2 @ file:///home/conda/feedstock_root/build_artifacts/geoalchemy2_1688566808370/work
geojson @ file:///home/conda/feedstock_root/build_artifacts/geojson_1676562884917/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1658688831518/work
graphviz==0.20.1
greenlet @ file:///D:/bld/greenlet_1674937860362/work
gunicorn==20.1.0
h11==0.14.0
hologram==0.0.16
httpcore==0.16.3
idna==3.4
importlib-metadata @ file:///D:/bld/importlib-metadata_1653252994979/work
importlib-resources==5.12.0
inflection==0.5.1
isodate==0.6.1
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema==4.17.3
jsonschema-specifications==2023.7.1
kiwisolver @ file:///D:/bld/kiwisolver_1657953239132/work
lazy-object-proxy==1.9.0
leather==0.3.4
limits==3.4.0
linkify-it-py==2.0.0
lockfile==0.12.2
Logbook==1.5.3
Mako==1.2.4
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mashumaro==3.6
matplotlib @ file:///D:/bld/matplotlib-suite_1661440002333/work
mdit-py-plugins==0.3.5
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
msgpack==1.0.5
multidict==6.0.4
munch==2.5.0
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1661192904448/work
numpy @ file:///D:/bld/numpy_1660672976152/work
ordered-set==4.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1680548755325/work
parsedatetime==2.4
pathspec==0.9.0
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pendulum==2.1.2
Pillow @ file:///D:/bld/pillow_1660385947107/work
pluggy==1.0.0
polars==0.18.7
prison==0.2.1
protobuf==4.23.4
psutil==5.9.5
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyarrow==12.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.10.7
Pygments==2.15.1
PyJWT==2.6.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj @ file:///D:/bld/pyproj_1655448289213/work
pyrsistent==0.19.3
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-daemon==3.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-nvd3==0.15.0
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3
pytzdata==2020.1
PyYAML==6.0
referencing==0.30.0
requests==2.29.0
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==13.3.5
rpds-py==0.9.2
Rtree @ file:///D:/bld/rtree_1649367817754/work
scikit-learn @ file:///D:/bld/scikit-learn_1640464383253/work
scipy==1.9.1
setproctitle==1.3.2
Shapely==1.8.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
sodapy==2.2.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
SQLAlchemy==1.4.47
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
statsmodels @ file:///C:/b/abs_bdqo3zaryj/croot/statsmodels_1676646249859/work
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
typing_extensions==4.5.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uc-micro-py==1.0.1
unicodecsv==0.14.1
unicodedata2 @ file:///D:/bld/unicodedata2_1649112137711/work
urllib3==1.26.15
Werkzeug==2.2.3
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771897787/work
wrapt==1.15.0
WTForms==3.0.1
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1655861233352/work
yarl==1.9.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
