<!DOCTYPE html>
<html>
   <head>
<style>
body {background-color: #29465B}
h1   {color: white; font-family: Arial, Helvetica, sans-serif;}
h2   {color: white; font-family: Arial, Helvetica, sans-serif; text-align: center;}
p    {color: white; font-family: Arial, Helvetica, sans-serif;}
form    {color: white; font-family: Arial, Helvetica, sans-serif;}
div     {color: white; font-family: Arial, Helvetica, sans-serif;}
.parallax {
  /* The image used */
  background-image: url("https://i.natgeofe.com/n/874df281-d3e0-489a-98c0-6b840023b828/newyork_NationalGeographic_2328428_2x1.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectHeading {
position: absolute;
top: 10%;
width: 100%;
color: white; 
font-family: Arial, Helvetica, sans-serif;
font-size: 80px;
text-align: center;
}
.projectSubHeading {
position: absolute;
top: 25%;
width: 100%;
color: white; 
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
text-align: center;
}
.map {
margin: auto;
}

.selectedData {
margin: auto;
}

.dataVizHeading {
color: white; 
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: center;
}



.description {
font-size: 20px;
}

.fieldColumn {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fieldPartSeason {
text-align: left;
padding-left: 10px;
}


.fieldPart {
font-size: 20px;
text-align: left;
padding-left: 10px;
}

.fieldButton {
font-size: 20px;
}

.fieldLabel {
font-size: 20px;
text-align: left;
padding-left: 10px;
}

.fieldInput {
font-size: 20px;
text-align: left;
padding-left: 10px;
}

.lineBreaker {
color: white
}

.mapBox {
width:800px; 
height:580px;
margin: auto;
padding: 10px;
}

.prediction {
text-align: center;
font-size: 30px;
}

</style>
      <title>NYC Traffic Prediction</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
<script src="http://d3js.org/d3.v4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>   
<script src="{{ url_for('static', filename='street_segment.geojson') }}"></script>
<script src="{{ url_for('static', filename='landuse.geojson') }}"></script>
</head>

   <body>
<div class="parallax"><div class="projectHeading">NYC Traffic Prediction</div><div class="projectSubHeading">By Benson Duong</div></div>
	<p class="description">Input the month range, the hour of day, whether or not it's a weekend, and selected NYC Street (click on the map)</p>
	<p class="description">The model will predict Traffic level (from High to Low)</p>
        <form id="trafficInputs" name="form", method="POST", style="text-align: center;">
<table style="width:100%">
<tr>
<th style="width:50%">
<div class="fieldColumn">
<fieldset>
<legend>Select a Month:</legend>
<div class="fieldPartSeason">
<input class="fieldInput" type="radio" id="season0" name="Season" value="0" checked required/>
<label class="fieldLabel" for="season0">Jan. to Mar.</label>
</div>
<div class="fieldPartSeason">
<input class="fieldInput" type="radio" id="season1" name="Season" value="1" checked required/>
<label class="fieldLabel" for="season1">Apr. to Jun.</label>
</div>
<div class="fieldPartSeason" >
<input class="fieldInput" type="radio" id="season2" name="Season" value="2" checked required/>
<label class="fieldLabel" for="season2">Jul. to Sep.</label>
</div>
<div class="fieldPartSeason">
<input class="fieldInput" type="radio" id="season3" name="Season" value="3" checked required/>
<label class="fieldLabel" for="season3">Oct. to Dec.</label>
</div>
</fieldset>
<div class="fieldPart">
<label class="fieldLabel" for="isWeekend">Is Weekend </label>
<input type="checkbox" id="isWeekend" name="IsWeekend"/>
</div>
<div class="fieldPart">
<label class="fieldLabel" for="Hour">Hour</label>
<input class="fieldInput" type="time" id="Hour" name="Hour", min="00:00" max="23:59" required/>
</div>
</div>
</th>
<th style="width:50%">
<div class="column">
<div class="fieldPart">
<label class="fieldLabel" for="lat">Latitude </label>
<input class="fieldInput" id="lat" type="text" name="latitude", placeholder="X coord" required/>
</div>
<div class="fieldPart">
<label class="fieldLabel" for="lon">Longitude</label>
<input class="fieldInput" id="lon", type="text" name="longitude", placeholder="Y coord" required/>
</div>
<div class="fieldPart">
<label class="fieldLabel" for="streetSegmentID">Selected Street Segment Municipal ID</label>
<input class="fieldInput" type="number" id="streetSegmentID" name="Segment_ID" min="1" disabled required/>
</div>
<div class="fieldPart">
<label class="fieldLabel" for="numberTravelLanes">Lane Amount of Selected Street Segment</label>
<input class="fieldInput" type="number" id="numberTravelLanes" name="Number_Tra" min="1" disabled required/>
</div>
<div class="fieldPart">
<label class="fieldLabel" for="streetWidth">Street Width in feet</label>
<input class="fieldInput" type="text" id="streetWidth" name="StreetWidt" disabled required/>
</div>
<div class="fieldPart">
<label class="fieldLabel" for="streetSegmentLength">Street Segment Length</label>
<input class="fieldInput" type="text" id="streetSegmentLength" name="SHAPE_Leng" disabled required/>
</div>
</div>
</th>
</tr>
</table>
            <button class="fieldButton" value="Submit">Run</button>
        </form>
        <p class="prediction">{{ output }}</p>
        <div class="warning"></div>

<h2>Data Visualization</h2>
<table style="width:100%">
<tr>
<th style="width:60%">
<div id = "map" class="mapBox"></div>
</th>
<th style="width:40%">
<div id="pieVizAreaPerc">
<div id="selectedData"></div>
</div>
</th>
</tr>
</table>
<hr class="lineBreaker">

      <script>

// Array to store the loaded JSON data
const jsonData = [];

// Function to load a JSON file and return a promise
function loadJSON(file) {
  return fetch(file)
    .then(response => response.json())
    .catch(error => console.log('Error loading JSON file:', error));
}

// List of file paths
const file1 = './static/street_segment.geojson';
const file2 = './static/landuse.geojson';

// Load multiple JSON files simultaneously
Promise.all([loadJSON(file1), loadJSON(file2)])
  .then(data => {
    // Store the loaded JSON data in separate variables
    const data1 = data[0];
    const data2 = data[1];

    console.log('Data from file1:', typeof(data1));
    console.log('Data from file1:', Object.keys(data1));
    console.log('Data from file1:', data1["features"].length);
    console.log('Data from file2:', typeof(data2));
    console.log('Data from file2:', Object.keys(data2));
    console.log('Data from file2:', data2["features"].length);

var streetSegments = data1["features"]

var parcelLots = data2["features"] 


    // Continue with your code logic here...


         // Creating map options
var mapOptions = {
            center: [40.7128, -74.0060],
            zoom: 10,
            zoomControl: false
}
         
// Create Map
var map = new L.map('map', mapOptions); // Creating a map object
// Creating Layer
var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');         
map.addLayer(layer);   // Adding layer to the map

      
// zoom control options         
var zoomOptions = {
            zoomInText: '1',
            zoomOutText: '0',
         
};
var zoom = L.control.zoom(zoomOptions);   // Creating zoom control         
zoom.addTo(map);   // Adding zoom control to the map


// https://stackoverflow.com/questions/41256026/clear-marker-layers-leaflet

var mapLayerGroup;
mapLayerGroup = L.layerGroup().addTo(map);

var streetSegmentLayer;
var streetSegmentBufferLayer; 
var parcelLotLayer; 




streetSegmentLayer = L.geoJSON().addTo(mapLayerGroup ); // a currently blank layer that street segment polylines will be added onto later
streetSegmentBufferLayer = L.geoJSON().addTo(mapLayerGroup ); // a currently blank layer that street segments buffer polygons will be added onto later
parcelLotLayer = L.geoJSON().addTo(mapLayerGroup ); // a currently blank layer that building footprint polygons will be added onto later





map.on('click', 
function(e)
{
// clear the map's canvas and re-add the layers again
// this allows us to auto-delete all the old highlighted street segment, polygons, and buffers when a new coordinate is clicked
mapLayerGroup.clearLayers(); 


//newqw
//streetSegmentLayer = L.geoJSON().addTo(mapLayerGroup ); 
//streetSegmentBufferLayer = L.geoJSON().addTo(mapLayerGroup ); 
//parcelLotLayer = L.geoJSON().addTo(mapLayerGroup ); 

var selectedCoords = e.latlng.toString().split(',');
var lat = selectedCoords[0].split('(')[1];
var lng = selectedCoords[1].split(')')[0];
			
document.getElementById('lat').value = lat;
document.getElementById('lon').value = lng;

var turfCoords = turf.point([lng, lat]);

console.log("You clicked the map at latitude: " + lat + " and longitude:" + lng);

// Find the closest Street Segment to the selected (and then projected) coordinates
var tempStreetSegmentIter = 0;
var tempStreetSegment = streetSegments[tempStreetSegmentIter];
var tempStreetSegmentDistance = turf.pointToLineDistance(turfCoords, turf.toWgs84(tempStreetSegment), {units: 'miles', method: 'geodesic'});

var closestStreetSegmentIter = tempStreetSegmentIter;
var closestStreetSegment = tempStreetSegment; 
var closestStreetSegmentDistance = tempStreetSegmentDistance;

for (let i = 1; i < streetSegments.length; i++) {
    tempStreetSegment =  streetSegments[i];
    tempStreetSegmentDistance = turf.pointToLineDistance(turfCoords, turf.toWgs84(tempStreetSegment), {units: 'miles', method: 'geodesic'});
    if (tempStreetSegmentDistance < closestStreetSegmentDistance) {
        closestStreetSegment = tempStreetSegment;
        closestStreetSegmentDistance = tempStreetSegmentDistance;
        closestStreetSegmentIter = i
    } else {
    }
}




// Shows the closest street segment polyline to the chosen coordinate  visibly on the map
var currStreetSegment = turf.toWgs84(closestStreetSegment);  // never forget to re-project



// newqw
var streetSegmentStyle = {
    "color": "#ff7800",
    "weight": 5,
    "opacity": 1
};
streetSegmentLayer = L.geoJSON(currStreetSegment,{style: streetSegmentStyle}).addTo(mapLayerGroup ); 
// streetSegmentLayer.addData(currStreetSegment);


// Shows the buffer around the current street segment polyline visibly on the map
var streetSegmentBuffer = turf.buffer(currStreetSegment, 500, {units: "feet"})

// newqw
var streetSegmentBufferStyle = {
    "color": "red",
    "weight": 0,
    "opacity": 0,
    "fillOpacity": 0.25,
};
streetSegmentBufferLayer = L.geoJSON(streetSegmentBuffer,{style: streetSegmentBufferStyle}).addTo(mapLayerGroup );
// streetSegmentBufferLayer.addData(currStreetSegmentBuffer);





// Show the parcel lots
var tempParcelLot;
var currParcelLot;
var tempParcelLotVertices;
var tempParcelLotVertice;
var parcelLotsWithinBuffer = []; //newqw
var status;
var numParcelLots = 0;

console.log("parcelLots 0", parcelLots[0]);
console.log("streetSegment", currStreetSegment)

// start of newqw2
// https://s-media.nyc.gov/agencies/dcp/assets/files/pdf/data-tools/bytes/meta_mappluto_clipped.pdf
var landUseStyleInfo = {
"01": {"color": "#faf607", "name": "One & Two Family Buildings"},
"02": {"color": "#faf607", "name": "Multi - Family Walk- Up Buldings"},
"03": {"color": "#faf607", "name": "Multi - Family Elevator Buildings"},
"04": {"color": "#5ecf44", "name": "Mixed Residential and Commercial Buildings"},
"05": {"color": "#0884cc", "name": "Commercial and Office Buildings"},
"06": {"color": "#668cff", "name": "Industrial and Manufacturing"},
"07": {"color": "#453efa", "name": "Transportation and Utility"},
"08": {"color": "#66fff2", "name": "Public Facilities and Institutions"},
"09": {"color": "#747699", "name": "Open Space and Outdoor Recreation"},
"10": {"color": "#4a6778", "name": "Parking Facilities"},
"11": {"color": "#577b80", "name": "Vacant Land"},
"00": {"color": "#818282", "name": "Unknown"} // self added null category
}
var landUseNames = Object.keys(landUseStyleInfo);


const doLandUseArea = false; // decides on if landUseArea will be calculated during the forloop

var tempDifference;
var tempDifferenceArea;
var tempClippedArea;
var tempLandUse;
var tempParcelLotArea;
var landUseAreaTracker = {};
var landUseAreaTotal = 0.1; // if doLandUseArea is false, then landUseAreaTotal is set to a small integer > 0 to previde zero-div error in landUseAreaTrackerPerc 
var landUseNumTracker = {};
var landUseNumTotal = 0;
for (let i = 0; i < landUseNames.length; i++){
    landUseAreaTracker[landUseNames[i]] = 0; //prefill the object with 0's
    landUseNumTracker[landUseNames[i]] = 0; //prefill the object with 0's
}
// end of newqw2

for (let i = 0; i < parcelLots.length; i++) {
    tempParcelLot =  parcelLots[i]; // a building footprint polygon
//
    // as of July 2023, turf.booleanContains cannot use 2 polygons. so one polygon must be exploded into a list of points (polygon-point is a valid input pair)
    tempParcelLotVertices = turf.explode(tempParcelLot)["features"]; // now exploded into a list of its vertices;
    status = tempParcelLotVertices.length;
    while (status > 0){
        tempParcelLotVertice = tempParcelLotVertices[status - 1]
        if (turf.booleanContains(streetSegmentBuffer, turf.toWgs84(tempParcelLotVertice))) {
            status = 0;
            
            numParcelLots++; 
            currParcelLot = turf.toWgs84(tempParcelLot);
            //parcelLotLayer.addData(currParcelLot); //newqw
            parcelLotsWithinBuffer.push(currParcelLot);  //newqw 

            //start of newqw2 
            tempLandUse = tempParcelLot["properties"]["LandUse"];

            tempLandUse = (landUseNames.includes(tempLandUse)) ? tempLandUse : "00";

            landUseNumTotal = landUseNumTotal + 1;
            if (landUseNumTracker.hasOwnProperty(tempLandUse)){ 
                landUseNumTracker[tempLandUse] = landUseNumTracker[tempLandUse] + 1;
            } else {
                landUseNumTracker[tempLandUse] = 1; } 

	    
            if (doLandUseArea){
            tempParcelLotArea = turf.area(turf.toWgs84(tempParcelLot));
            tempDifference = turf.difference(turf.toWgs84(tempParcelLot), streetSegmentBuffer) 
            tempDifferenceArea = tempDifference ? turf.area(tempDifference) : 0; //?? is ternary operator, impute 0 if null //newqw2
            tempClippedArea = tempParcelLotArea - tempDifferenceArea; //newqw2
            
            landUseAreaTotal = landUseAreaTotal + tempClippedArea;
            if (landUseAreaTracker.hasOwnProperty(tempLandUse)){ 
                landUseAreaTracker[tempLandUse] = landUseAreaTracker[tempLandUse] + tempClippedArea;
            } else {
                landUseAreaTracker[tempLandUse] = tempClippedArea; }
            // end of newqw2
            } else {}

            
        } else {
            status--;
        }
    }
//    
}

// start of newqw2
var consolidatedLandUseD3Info = [] // newqw3
var tempLandUseD3Info ; // newqw3
var tempLandUseArea;
var tempLandUseAreaPerc;
var tempLandUseNum;
var tempLandUseNumPerc;
var landUseAreaTrackerPerc = {};
var landUseNumTrackerPerc = {};


var tempLandUse; 
for (let i = 0; i < Object.keys(landUseNumTracker).length; i++){
    tempLandUse = Object.keys(landUseNumTracker)[i];
    
    tempLandUseArea = landUseAreaTracker[tempLandUse];
    tempLandUseAreaPerc = tempLandUseArea / landUseAreaTotal;
    landUseAreaTrackerPerc[tempLandUse] = tempLandUseAreaPerc;

    tempLandUseNum = landUseNumTracker[tempLandUse];
    tempLandUseNumPerc = tempLandUseNum / landUseNumTotal;
    landUseNumTrackerPerc[tempLandUse] = tempLandUseNumPerc;
    
    // start of newqw3
    tempLandUseD3Info = {
"landUse": tempLandUse, 
"name": landUseStyleInfo[tempLandUse]["name"],
"color": landUseStyleInfo[tempLandUse]["color"],
"valueArea": tempLandUseArea,
"valueAreaPerc": tempLandUseAreaPerc,
"valueNum": tempLandUseNum ,
"valueNumPerc": tempLandUseNumPerc ,
} 
    consolidatedLandUseD3Info.push(tempLandUseD3Info )
    // end of newqw3
}




// start of newqw5
var streetSegmentID = closestStreetSegment["properties"]["Segment_ID"];
var numberTravelLanes = closestStreetSegment["properties"]["Number_Tra"] ?? 2; // all roads have 2 lanes at minimum; so impute nulls with 2
var streetSegmentLength = closestStreetSegment["properties"]["SHAPE_Leng"] ?? turf.length(closestStreetSegment, {units: 'meters'});
var streetWidth = closestStreetSegment["properties"]["StreetWidt"] ?? 30;

// the invisible inputs

document.getElementById("streetSegmentID").value = streetSegmentID ;
document.getElementById("streetWidth").value = streetWidth ;
document.getElementById("numberTravelLanes").value = numberTravelLanes;
document.getElementById("streetSegmentLength").value = streetSegmentLength;

document.getElementById("streetSegmentID").disabled = false;
document.getElementById("streetWidth").disabled = false;
document.getElementById("numberTravelLanes").disabled = false;
document.getElementById("streetSegmentLength").disabled = false;

// hidden inputs
var formElement = document.getElementById("trafficInputs");
var tempInputElement;
var tempInputId;
var tempInputType;
var tempInputName;
var tempInputValue;

for (let i = 0; i < Object.keys(landUseNumTrackerPerc).length; i++) {
tempInputId = "Input_" + Object.keys(landUseNumTrackerPerc)[i];
tempInputType = "text";
tempInputName = Object.keys(landUseNumTrackerPerc)[i];
tempInputValue = landUseNumTrackerPerc[tempInputName];
try {document.getElementById(tempInputId).remove();}
catch{}
tempInputElement = document.createElement('input');
tempInputElement.style.display = "none";
tempInputElement.type = tempInputType; 
tempInputElement.id = tempInputId;
tempInputElement.name = "LandUse_" + tempInputName;
tempInputElement.value = tempInputValue;
formElement.appendChild(tempInputElement)
}

var closestStreetSegmentCentroid = turf.centroid(turf.toWgs84(closestStreetSegment));

var streetSegmentCentroidLongitude = closestStreetSegmentCentroid["geometry"]["coordinates"][0];
var streetSegmentCentroidLatitude = closestStreetSegmentCentroid["geometry"]["coordinates"][1];
tempInputId = "streetSegmentCentroidLongitude";
tempInputType = "text";
tempInputName = "streetSegmentCentroidLongitude";
tempInputValue = streetSegmentCentroidLongitude;
try {document.getElementById(tempInputId).remove();}catch{}
tempInputElement = document.createElement('input');
tempInputElement.style.display = "none";
tempInputElement.type = tempInputType; 
tempInputElement.id = tempInputId;
tempInputElement.name = tempInputName;
tempInputElement.value = tempInputValue;
formElement.appendChild(tempInputElement);

tempInputId = "streetSegmentCentroidLatitude";
tempInputType = "text";
tempInputName = "streetSegmentCentroidLatitude";
tempInputValue = streetSegmentCentroidLatitude;
try {document.getElementById(tempInputId).remove();}catch{}
tempInputElement = document.createElement('input');
tempInputElement.style.display = "none";
tempInputElement.type = tempInputType; 
tempInputElement.id = tempInputId;
tempInputElement.name = tempInputName;
tempInputElement.value = tempInputValue;
formElement.appendChild(tempInputElement);


// end of newqw5















console.log(landUseAreaTrackerPerc);
console.log(landUseNumTracker);

parcelLotLayer = L.geoJSON(parcelLotsWithinBuffer, {style: function(feature) {
        switch (feature.properties.LandUse) {
            case '01':   return {color: "#faf607", weight: 2, fillOpacity: 0.5};
            case '02':   return {color: "#faf607", weight: 2, fillOpacity: 0.5};
            case '03':   return {color: "#faf607", weight: 2, fillOpacity: 0.5};
            case '04':   return {color: "#5ecf44", weight: 2, fillOpacity: 0.5};
            case '05':   return {color: "#0884cc", weight: 2, fillOpacity: 0.5};
            case '06':   return {color: "#668cff", weight: 2, fillOpacity: 0.5};
            case '07':   return {color: "#453efa", weight: 2, fillOpacity: 0.5};
            case '08':   return {color: "#66fff2", weight: 2, fillOpacity: 0.5};
            case '09':   return {color: "#747699", weight: 2, fillOpacity: 0.5};
            case '10':   return {color: "#4a6778", weight: 2, fillOpacity: 0.5};
            case '11':   return {color: "#577b80", weight: 2, fillOpacity: 0.5};
            default: return {color: "#818282", weight: 2, fillOpacity: 0.5};
        }
}}).addTo(mapLayerGroup ); 

// end of newqw2

console.log(numParcelLots);





// start of newqw3
// https://medium.com/@kj_schmidt/show-data-on-mouse-over-with-d3-js-3bf598ff8fc2

// start of piechart
var width = 360;
var height = 360;
var radius = Math.min(width, height) / 2;
var donutWidth = 75; //This is the size of the hole in the middle

//const svg_piebase_preexisting = document.getElementById("landUseNumPercPieSvg");
//svg_piebase_preexisting.remove();



d3.select('#landUseNumPercPieSvg').remove();

var svg_piebase = d3.select('#selectedData')
     .append('svg')
     .attr('id', 'landUseNumPercPieSvg')
     .attr('width', width*2)
     .attr('height', height)
var svg_pie = svg_piebase 
     .append('g')
     .attr('transform', 'translate(' + (width / 2) + ',' + (height / 2) + ')');
var arc = d3.arc()
     .innerRadius(radius - donutWidth)
     .outerRadius(radius);
var pie = d3.pie()
     .value(function (d) {
          return d.valueNumPerc;
     })
     .sort(null);

var div = d3.select("body").append("div")
     .attr("class", "tooltip-donut")
     .style("opacity", 0);
var path = svg_pie.selectAll('path')
     .data(pie(consolidatedLandUseD3Info ))
     .enter()
     .append('path')
     .attr('d', arc)
     .attr('fill', function (d, i) {
          return d.data.color;
     })
     .attr('transform', 'translate(0, 0)')
     .on('mouseover', function (d, i) {
          d3.select(this).transition()
               .duration('50')
               .attr('opacity', '.85');
          div.transition()
               .duration(50)
               .style("opacity", 1);
          let text = d.data.name + " = " + (Math.round(d.data.valueNumPerc * 100)).toString() + "% (" + (Math.round(d.data.valueNum,2)).toString() + " Lots)";
          div.html(text)
               .style("left", (d3.event.pageX + 10) + "px")
               .style("top", (d3.event.pageY - 15) + "px");
     })
     .on('mouseout', function (d, i) {
          d3.select(this).transition()
               .duration('50')
               .attr('opacity', '1');
          div.transition()
               .duration('50')
               .style("opacity", 0);
     });
// end of piechart



// start of legend for piechart

// Add one dot in the legend for each name.
var svg_pielegend = svg_piebase 
     .append('g')
     .attr('transform', 'translate(' + (width+5) + ',' + (0) + ')');
svg_pielegend.selectAll("mydots")
  .data(landUseNames)
  .enter()
  .append("circle")
    .attr("cx", 10)
    .attr("cy", function(d,i){ return 20 + i*25}) // 100 is where the first dot appears. 25 is the distance between dots
    .attr("r", 7)
    .style("fill", function(d){ return landUseStyleInfo[d]["color"]})

// Add one dot in the legend for each name.
svg_pielegend.selectAll("mylabels")
  .data(landUseNames)
  .enter()
  .append("text")
    .attr("x", 30)
    .attr("y", function(d,i){ return 20 + i*25}) // 100 is where the first dot appears. 25 is the distance between dots
    .style("fill", function(d){ return "white"})
    .text(function(d){ return landUseStyleInfo[d]["name"]})
    .attr("text-anchor", "left")
    .style("alignment-baseline", "middle")
// end of legend for piechart




// end of newqw3







});



  });













      </script>

   </body>
   
</html>